body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("bgpic2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
#overlay {
  position: fixed;
  top: -180px;
  left: -278px;
  width: 200vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.677); 
  z-index: 999999 !important; 
  display: none; 
}

/* loading style */
#loader {
  display: none;
  max-width: 115px;
  margin-inline: auto;
  margin-top: -40px !important;
  width: 112px;
  height: 112px;
  left: 400px !important;
  position: fixed !important;
  z-index: 10000000001000000 !important;
  
}

.box1,
.box2,
.box3 {
  border: 16px solid #f5f5f5;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}


.phone-table {
  display: none;
}

.clock,
.back {
  width: 30px;
  height: 30px;
}

.clock:hover,
.back:hover {
  transform: scale(1.3);
}

.clear {
  width: 50px;
  height: 50px;
  background-color: #4e526551;
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: center;
  font-size: 15px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 3px;
}

.clear:hover {
  background-color: #7c7c7ce3;
  transform: scale(1.1);
}

.clear:active {
  background-color: #ffffffe3;
  color: black;
}

.container {
  max-width: 900px;
  min-height: 1000px;
  margin: 50px auto;
  padding: 20px;
  border: 5px solid #07c1ff;
  box-shadow: 0px 0px 10px #07c1ff, 0px 0px 10px #07c1ff, 0px 0px 10px #07c1ff, 0px 0px 10px #07c1ff;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-animation: glow 1s infinite alternate;
  -moz-animation: glow 1s infinite alternate;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073,;
      }
      to{
    text-shadow: 0 0 20px #86fbff, 0 0 30px #54d7ff, 0 0 40px #3c1ac4, 0 0 50px #5771d8, 0 0 60px #9b51f5, 0 0 70px #d36dfb, 0 0 80px #ff26c2;
      }
}

#alert {
  text-align: center;
  color: red;
  margin-top: 5px;
}

#cleared {
  text-align: center;
  color: rgb(247, 9, 9);
  margin-top: 5px;
}

input[type="text"] {
  width: 70%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 30px;
  align-items: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.268);
  backdrop-filter: blur(30px);
  color: white;
  border: 2px solid white;
  outline: none;
}

#add-button {
  padding: 20px 30px;
  background-color: #3635354b;
  color: #fff;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s;
}

#add-button:hover {
  background-color: #7c7c7ce3;
  transform: scale(1.1);
}
#add-button:active {
  background-color: #ffffffe3;
  color: black;
}

ul {
  margin-bottom: 10px;
  list-style: none;
}

li {
  margin-bottom: 10px;
  color: white;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 7px;
  font-size: 15px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: white;
  color: red;
}

.done-button {
  background-color: #0ed328;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  font-size: 15px;
}

.done-button:hover {
  background-color: white;
  color: green;
}

#reminderInput {
  width: 300px;
  padding: 5px;
  align-items: center;
  font-size: 20px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.315);
  color: rgb(30, 30, 30);
}

#remainderTime {
  color: white;
}

.a1 {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.a1:hover {
  -webkit-animation: glow1 1s infinite alternate;
  -moz-animation: glow1 1s infinite alternate;
  animation: glow1 1s infinite alternate;
  -webkit-animation: round1 3s infinite normal;
  -moz-animation: round1 3s infinite normal;
  animation: round1 3s infinite normal;
}

@keyframes glow1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f91706, 0 0 40px #3a0bf5,
      0 0 50px #f33207, 0 0 60px #f91e05b6, 0 0 70px #0536f8, 0 0 80px #f0f80c;
  }
}

.title-bar {
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  justify-content: space-around;
  border-bottom: 10px solid black;
  padding: 20px black;
  text-decoration: none;
}

.title-bar:hover {
  border-bottom: transparent;
}

.title-bar > div {
  display: inline;
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 20px 300px black;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.task-item {
  display: block;
  transition: transform 0.5s ease;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  transition-delay: 0.1s;
}

.move-left {
  transform: translateX(-100%);
}

.move-right {
  transform: translateX(100%);
}

/*telegram button*/
button.b1 {
  position: relative;
  border: 1px #08c solid;
  overflow: hidden;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #29a1ec;
  transition: 1s;
  border: none;
  width: 51px;
  height: 50px;
}
.b1:hover{
  width: 160px;
}
.text2 {
  position: absolute;
  top: 30%;
  left: -100px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(239, 243, 246);
  text-decoration: none;
  z-index: 3;
  transition: 1s;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
  width: 51px;
  height: 50px;
  z-index: 5;
  
}
button.b1:hover .text2 {
  transform: translateX(151px);
}

/*instagram button*/
button.b2 {
  position: relative;
  width: 51px;
  height: 50px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border: 1px orangered solid;
  transition: 1s;
  overflow: hidden;
}
.text22 {
  position: absolute;
  top: 30%;
  left: -100px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(90, 3, 87);
  text-decoration: none;
  z-index: 3;
  transition: 1s;
}

.icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 50px;
  z-index: 5;
}
.b2:hover{
  width: 160px;
}
button:hover .text22 {
  transform: translateX(151px);
}

/*facebook button*/
button.b3 {
  position: relative;
  width: 51px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(51, 56, 151);
  border: 1px #3a5ba2 solid;
  overflow: hidden;
  margin-right: 5px;
  transition: 1s;
}
.text222 {
  position: absolute;
  top: 30%;
  left: -100px;
  font-weight: 700;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  z-index: 3;
  transition: 1s;
}
.icon3 {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
  width: 51px;
  height: 50px;
  z-index: 5;
}
.b3:hover{
  width: 160px;
}
button:hover .text222 {
  transform: translateX(151px);
}

.contact {
  padding-bottom: 20px;
  backdrop-filter: blur(10px);
  margin-bottom: 0px;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 10px;
  border: 3px solid #076585;
}

a,
.p1 {
  text-decoration: none;
  color: #ccc;
  text-align: left;
  font-size: 20px;
}

td {
  padding: 5px;
}

/*Query start*/
@media screen and (max-width: 565px) {
  .container {
    max-width: 500px !important;
    min-height: 550px !important;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #076585;
    border-radius: 30px;
    backdrop-filter: blur(10px);
  }

  .contact {
    max-width: 500px !important;
    padding-bottom: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 10px;
    border: 3px solid #076585;
  }

  input[type="text"] {
    width: 180px !important;
    height: 10px !important;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 30px;
    align-items: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.268);
    backdrop-filter: blur(30px);
    color: white;
    border: 2px solid white;
    outline: none;
  }

  #reminderInput {
    width: 160px !important;
    padding: 3px !important;
    align-items: center;
    font-size: 5px !important;
    border-radius: 50px;
    background-color: rgba(17, 15, 15, 0.051) !important;
    color: rgb(249, 247, 247) !important;
  }

  #add-button {
    padding: 6px 10px !important;
    background-color: #3635351a !important;
    color: #fff;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.3s;
  }

  .done-button {
    background-color: #0ed328;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
    font-size: 15px;
  }

  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    font-size: 15px;
    cursor: pointer;
  }

  /* loading style */
  #overlay {
    position: fixed;
    top: -10px;
    left: -10px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.677); 
    z-index: 999999 !important; 
    display: none; 
  }

#loader {
  display: none;
  max-width: 115px;
  margin-inline: auto;
  margin-top: -40px !important;
  width: 112px;
  height: 112px;
  position: absolute !important;
  left: 90px !important;
}

.box1,
.box2,
.box3 {
  border: 16px solid #f5f5f5;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 4s 1s forwards ease-in-out infinite;
}

.box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 4s 1s forwards ease-in-out infinite;
}

.box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 4s 1s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

#menuButton {
  position: relative;
  top: -100px !important;
  left: 100px !important;
  font-size: 40px;
  cursor: pointer;
  background: rgb(173, 173, 187);
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(10px);
  background: transparent;
  border: none;
  z-index: 1000;
  animation: none;
}



}


/*Query end*/

hr {
  width: 247px;
  font-size: 5px;
  color: #07c1ff;
  background-color: #07c1ff;
  height: 5px;
  border: none;
}

#leftMenu {
  position: fixed;
  top: 0;
  left: -255px; 
  width: 250px;
  height: 100%;
  transition: left 0.3s;
  backdrop-filter: blur(10px);
  border-right: 5px solid #07c1ff;
}

#leftMenu ul {
  list-style-type: none;
  padding: 0;
}

#leftMenu li {
  color: white;
  padding: 10px;
}

#menuButton {
  position: relative;
  top: 20px;
  left: 30px;
  font-size: 40px;
  cursor: pointer;
  background: rgb(173, 173, 187);
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(10px);
  background: transparent;
  border: none;
  z-index: 1000;
}
#closeButton {
position: absolute;
top: 10px;
right: 10px;
  font-size: 40px;
  cursor: pointer;
  background: rgb(173, 173, 187);
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(10px);
  background: transparent;
  border: none;
}

.menulist {
  display: flex;
  flex-direction: column;
  top: 50px;
  margin-top: 50px;
  backdrop-filter: blur(10px);
}
.menulist > div {
  padding: 30px 30px;
  text-align: left;
  top: 50px;
  color: white;
  font-size: 20px;
  backdrop-filter: blur(10px);
  
}

.menulist > div:hover {
  background: linear-gradient(to right, blue, white);
  border-radius: 5px;
  
}

#cont {
  display: none;
  position: relative;
  left: 40px;
  transition: 0.3s;
}

.circling{
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  transform-origin: center;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 15px #4bbce7;
  box-sizing: border-box;
  animation: orbit 10s infinite linear;
  animation-delay: 0.25s;
  top: 54px;
  left: -48px;
}
.orbiting {
  background-color: #fff;
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow:
  0px 0px 10px #54f7f8,
  0px 0px 20px #54f7f8,
  0px 0px 30px #54f7f8,
  0px 0px 50px #54f7f8,
  0px 0px 90px #54f7f8,
  ;
}
.ripple {
  position: relative;
  top: -10px;
  left: 0;
  width: 10px;
  height: 10px;
  padding: 10px;
  font-size: 10px;
  border-radius: 50%;
  box-shadow: 
  0 0 0 0 rgb(84, 247, 248, 0.1),
  0 0 0 5px rgb(84, 247, 248, 0.1),
  0 0 0 10px rgb(84, 247, 248, 0.1),
  0 0 0 15px rgb(84, 247, 248, 0.1),
  ;
  background-color: transparent;
  animation: ripple 1s infinite linear;
}

@keyframes orbit {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes ripple {
  0%{
    box-shadow:  
     0 0 0 0 rgb(84, 247, 248, 0.1),
    0 0 0 5px rgb(84, 247, 248, 0.1),
    0 0 0 10px rgb(84, 247, 248, 0.1),
    0 0 0 15px rgb(84, 247, 248, 0.1),
    ;
  }
  100%{
    box-shadow: 
    0 0 0 5px rgb(84, 247, 248, 0.1),
    0 0 0 10px rgb(84, 247, 248, 0.1),
    0 0 0 15px rgb(84, 247, 248, 0.1),
    0 0 0 20px rgb(84, 247, 248, 0.1),
    ;
  }
}